//
//  devsettings.xcconfig
//  Hashids
//
//  Created by Ricki on 2022/2/6.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_IDENTITY= iPhone Developer
DEVELOPMENT_TEAM = "-"
CODE_SIGN_STYLE = Automatic
ORGANIZATION_IDENTIFIER =
DEVELOPER_ENTITLEMENTS =
PROVISIONING_PROFILE_SPECIFIER =

 #include? "whoami.xcconfig"
